<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="BDOAssistant.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <BDOAssistant.Properties.Settings>
            <setting name="Sound" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="PopupImperial" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="PopupBosses" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Update" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="StayOnTopMain" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Karanda" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Kzarka" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Offin" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Kutum" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Nouver" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Vell" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Quint" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Garmoth" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Imperial0" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Imperial3" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Imperial6" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Imperial9" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Imperial12" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Imperial15" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Imperial18" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Imperial21" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Night" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Mins10" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Mins5" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Theme" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="RemindNextBoss" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="OnSpawn" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="NotificationTime" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="Color" serializeAs="String">
                <value>#ffffff</value>
            </setting>
            <setting name="Seconds" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Region" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="FirstRun" serializeAs="String">
                <value>0</value>
            </setting>
        </BDOAssistant.Properties.Settings>
    </userSettings>
</configuration>